#################################################
# Python
#################################################

# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class


# C extensions
**/*.so

# Python packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
*.egg-info/
*.egg
MANIFEST

#################################################
# Virtual environments
#################################################

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version

#################################################
# Testing / coverage
#################################################

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/
.hypothesis/

#################################################
# Logs
#################################################

*.log
pip-log.txt
pip-delete-this-directory.txt

#################################################
# Jupyter
#################################################

.ipynb_checkpoints/

#################################################
# Documentation builds
#################################################

docs/_build/
site/

#################################################
# Type checkers
#################################################

.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

#################################################
# OS / Editor
#################################################

.DS_Store
.idea/
.vscode/
*.swp

#################################################
# Visual Studio / C#
#################################################

bin/
obj/
.vs/

*.user
*.suo
*.userprefs
*.pdb
*.mdb
*.exe
*.cache

#################################################
# Generated experiment outputs
#################################################

src/CSharp_Tool_BGP/ConsoleApplication1/bin/
src/data_test/DUMP_out.txt
src/STAT/sample.zip

#*
~*
**/.cmake
**/.ninja_*
**/CMakeCache.txt
**/CMakeFiles

**/cyberdefense_work
src/CSharp_Tool_BGP/ConsoleApplication1/bin/Release/DUMP_featureselection.txt

#################################################
# Temporary files
#################################################

*.tmp
*.bak
*.old
