numpy
scipy
scikit-learn
torch>=2.0.0
torchaudio>=2.0.0
torchvision>=0.15.0
Flask>=3.1.3
Flask-Login>=0.6.3
Flask-Session>=0.8.0
Flask_SocketIO>=5.6.1
python-engineio>=4.13.1
python-socketio>=5.16.1
itsdangerous
Jinja2
MarkupSafe
six
Werkzeug>=3.1.7
eventlet
psutil